.places .amenities{
    margin-top: 40px;
    border-bottom: 1px solid #DDDDDD;
}
.places .amenities h2{
    font-size: 16px;
    text-align: left;
}
ul{
    list-style: none;
    padding: 0%;
}
li{
    margin: 10px;
}
li img{
    width: 20px;
    height: 20px;
    margin: 5px;
}
.reviews{
    margin-top: 40px;
   
}

.reviews h2{
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 15px;
}
